<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebServices.DataService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/DataService/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WebServices.IDataService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="WebServices.PathService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/PathService/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WebServices.IPathService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
